body{
    color:white;
}
hr{
    border:dashed darkred 1px
}

#member-tabs{
    margin-top:20px;
    justify-content: center;
}
#member-tabs .active{
    background-color: #eeeeee;
}
#member-tabs .nav-link{
    padding:20px 20px;
    font-size:15px;
}
#member-tabs .active{
    color:black;
}
#member-tabs .active:hover{
    color:black!important;
}

.tab-content{
    color:white;
}
#general img{
    width:250px;
}
#general #hashtag{
    font-size:40px;
    text-align:center;
}

#general #description{
    text-align: left;
    font-size:18px;
    font-family: sans-serif;
    margin:30px;
}
#general .video-box{
    width:100%;
    max-width: 700px;
    margin:50px auto;
}
#general .video-box div{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
#general iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* staff members */
#staff .members{
    margin:50px 0;
}
#staff .member{
    width:80%;
    margin:20px auto;
    display:flex;
}
.member .name{
    flex-grow:1;
}
.member h6{
    text-align:left;
    font-size:30px;
    margin:0;
}
.member .stats-icon{
    width:auto;
    height:30px;
}
.member .stats-icon:hover{
    filter:brightness(50%);
}

/* achievements */
.achievement-list{
    padding:50px 0;
}
.achievement-list .card-header{
    padding:0;
}
.achievement-list .row{
    padding-top:15px;
}
#achievement .row:hover{
    background-color: rgba(255,255,255,0.2)!important;
    cursor: pointer;
}
#achievement .selected{
    background-color: rgba(255,255,255,0.2)!important;
}
.achievement-list .card-body{
    font-family: serif;
    background-color:darkred;
    padding-right:5%;
    padding-left:5%;
}

.game-icon{
    width:100%;
    max-width:90px;
}

.gold h3,.gold .fas{
    color:gold;
}
.silver h3,.silver .fas{
    color:silver;
}
.bronze h3,.bronze .fas{
    color: #cd7f32;
}
.white h3,.white .fas{
    color: white;
}
@media only screen and (max-width: 414px){
    .achievement-list h3{
        font-size:6px;
    }
    .achievement-list .card-body{
        font-size:12px;
    }
    .col-2, .col-6{
        padding:0;
    }
    #game{
        padding-left:15px;
    }
    #rank{
        padding-right:15px;
    }
}
/* contact */
#contact h1{
    margin-top:40px;
    margin-bottom:20px;
}

#contact {
    color: white;
    text-align: center;
    margin-bottom:100px;
}
@media only screen and (max-width: 1020px){
    a{
        font-size:18px;
    }
    
    #general img{
        width:150px;
    }
    #general #description{
        text-align: left;
        font-size:14px;
        margin:0;
    }
    
    #staff .member{
        width:100%;
    }
    #staff .member > div{
        padding:0;
    }
    #staff h6{
        font-size:12px;
    }
    #staff img{
        height:16px;
    }

    #member-tabs .nav-item{
        flex:1 1 50%;
    }
    #member-tabs .nav-link{
        font-size:12px;
    }
    .member-list h3{
        font-size:10px;
    }
} 
