.title {
    margin-top:60px;
    margin-bottom:30px;
}

.twitterBox{
    margin-bottom:100px;
    max-width:100%;
    max-width:500px;
}
.overflow{
    background: #111111;
    margin-bottom:100px;
    overflow-y:scroll;
}

.scoreboardList{
    width: 100%;
    height: 500px;
    border: none;
    border-radius:20px;
    padding:30px 20px;
}
.matchinfo{
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.matchinfo div{
    width:100%;
    text-align: left;
    font-size:24px;
}
.league{
    font-size:1em;
}
.time{
    font-size:0.7em;
    color:#bdbdbd;
}
.rs, .score, .opponent{
    text-align:center;
    padding:0;
}
.rs img, .opponent img{
    object-fit: contain;
    width:70px;
    max-height:100px;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score div{
    min-width:90px;
}
.score h6{
    font-size:30px;
}
hr{
    border: darkred 1px dashed;
    width:100%;
}
@media only screen and (max-width: 1020px){
    .title{
        font-size:20px;
    }
    .matchinfo div{
        text-align: center;
        font-size:16px;
    }
    .score h6{
        font-size:20px;
    }
    .rs img, .opponent img{
        width:50px;
    }
    .rs h6, .opponent h6{
        font-size:8px;
    }
}
