@font-face{
    font-family: Gotham;
    src: url(Gotham.otf)
}
h1,h2,h3,h4,h5,h6,a{
    font-family: Gotham;
    font-weight: bold;
    text-transform: uppercase;
}
body{
    background: #330000;
    text-align: center;
}
.navbar{
    background-color: darkred !important;
}
nav li{
    font-size: 21px;
    margin:15px 10px;
}
#nav-logo{
    height:66px;
}
#nav-space{
    height:66px;
}
.dropdown-item{
    text-align: center;
    font-weight:bold;
}
footer{
    background-color: darkred;
    border-top:none;
    padding-top:50px;
    padding-bottom:50px;
}
footer .fa{
    font-size: 40px;
    color:white;
}
footer img{
    width:40px;
}
footer img:hover{
    filter: brightness(50%);
}
footer .fa:hover{
    color:gray;
    text-decoration: none;
}
footer .row{
    display:flex;
    justify-content: center;
}


