@font-face{
    font-family: Gotham;
    src: url(Gotham.otf)
}
h1,h2,h3,h4,h5,h6,a,th{
    color:white;
    font-family: Gotham;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    color:white;
}
body{
    background: #330000;
    text-align: center;
}

/* Navigation Bar */
.navbar{
    background-color: darkred !important;
}
nav li{
    font-size: 21px;
    margin:15px 10px;
}
#nav-logo{
    height:66px;
}
#nav-logo:hover{
    filter: brightness(75%);
}
#nav-space{
    height:93px;
}
.nav-link:hover{
    color:lightgray !important;
}
.dropdown-item{
    text-align: center;
    font-weight:bold;
}

/* Footer */
footer{
    background-color: darkred;
    border-top:none;
    padding-top:50px;
    padding-bottom:50px;
}
footer .fa{
    font-size: 40px;
    color:white;
}
footer img{
    width:40px;
}
footer img:hover{
    filter: brightness(50%);
}
footer .fa:hover{
    color:gray;
    text-decoration: none;
}
footer .row{
    display:flex;
    justify-content: center;
}

.title {
    margin-top:60px;
    margin-bottom:20px;
}
hr{
    border:dashed darkred 1px;
}
.testspace{
    height:1000px;
}

