.teams{
    display:flex;
    text-align:left;
}
.teams .row{
    width:100%;
}
.teams div{
    padding:0;
    margin:0;
}
.teams .team{
    padding:30px;
}
hr{
    margin-left:0;
    width:100%;
}
.header{
    font-size:25px;
    margin:20px auto 5px 5px;
}
.player .name{
    flex-grow:1;
}
.player{
    display:flex;
}
.player img{
    height:20px;
    margin:0 10px;
}
.player h6{
    font-size:18px;
}
.icon img:hover{
    filter:brightness(50%);
}

@media only screen and (max-width: 1020px){
    .teams .team{
        padding:10;
    }
    .header{
        font-size:16px;
        margin:20px auto 0px 0px;
    }
    .player h6{
        font-size:12px;
    }
    .player img{
        height:14px;
        margin:0 10px;
    }
    hr{
        margin:10px 0;
    }
}