.title {
    color: white;
}

.teamLogo {
    width: 60px;
    vertical-align: top;
}

.matches {
    color: white;
}

#overflowTest {
    background: #333333;
    color: white;
    padding: 15px;
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: 1px solid #ccc;
  }