#banner{
    position: relative;
}
#banner h1{
    position: absolute;
    top:40%;
    left:0;
    right:0;
    margin:auto;
    font-size: 60px;
    color:white;
}
#banner img{
    object-fit: cover;
    object-position: 100% 50%;
    width:100%;
    max-height:300px;
    filter: brightness(70%);
}
#member-tabs .active{
    background-color: #eeeeee;
}
#member-tabs .nav-link{
    padding: 30px;
}
#member-tabs a{
    color:white;
}
#member-tabs .active{
    color:black
}
.tab-content{
    color:white;
}


.title{
    font-size: 40px;
    text-align: left;
    margin-top:20px;
}


.table{
    width:90%;
    min-width:600px;
    text-align: center;
    font-size:30px;
    background:none;
    color:white;
}
.table th{
    text-align: left;
}
.text-space{
    padding:20px;
}
.table .fa-twitter{
    color:#00ACEE;
    margin-right:40px;
}
.member-list{
    font-size:30px;
}
.table .fa-youtube{
    color:white;
}
.table .fa:hover{
    color:lightgray;
    text-decoration: none;
}
tr:hover{
    background-color:rgba(255,255,255,0.2);
    overflow: hidden;
    border-radius: 5px;
}
.flag{
    width:35px;
}

.space{
    height:200px;
}
hr{
    border:dashed white 1px
}


.member-list .row{
    margin-top:25px;
    padding-top:6px;
}
.member-list .row:hover{
    background-color:rgba(255,255,255,0.1);
}
.list-num{
    text-align: right;
}
.list-flag img{
    margin:auto;
    margin-top:7px;
}
.list-name{
    text-align:left;
}
.list-icon{
    text-align:center;
}
.list-icon .fa-twitter{
    color:#00ACEE;
}
.list-icon .fa-youtube{
    color:white;
}
.list-icon .fa:hover{
    color:lightgray;
    text-decoration: none;
}
.list-img{
    text-align:center;
}
.stats-icon{
    width:30px;
}
.stats-icon:hover{
    filter:brightness(150%);
}

@media only screen and (max-width: 414px){
    .table{
        min-width: 100%;
    }
    .text-space{
        padding:5px;
    }
    h1{
        font-size:25px;
    }
}